<div class="page-wrapper"> 
	<div class="form-wrapper">
		<ul class="inner-form">

			<li class="arrow-wrapper">
				<div class="arrow" id="arrow-left"></div>
				<div class="arrow-background"></div>
			</li>

			<li class="form-elements">
				<%= form_for @wallpaper do |f| %>
				<div class="form-element" id="quote-box-wrapper">
					<%= f.text_area :quote, placeholder: "True friends stab you in the front." %>		
				</div>

				<div class="form-element" id="citation-box-wrapper">
					<%= f.text_field :citation, placeholder: "Oscar Wilde" %>		
				</div>

				<div class="form-element" id="swatches-wrapper">

					<div id="hidden-colour-field">
						<%= f.hidden_field :colour_scheme_id, value: 1 %>
					</div>

					<div class="swatch" data-color-scheme-id=<%= @colour_schemes[0].id %>>
						<div class="swatch-color" data-color=<%= @colour_schemes[0].font %>></div>
						<div class="swatch-color" data-color=<%= @colour_schemes[0].highlight %>></div>
						<div class="swatch-color" data-color=<%= @colour_schemes[0].background %>></div>
					</div>

					<div class="swatch" data-color-scheme-id=<%= @colour_schemes[1].id %>>
						<div class="swatch-color" data-color=<%= @colour_schemes[1].font %>></div>
						<div class="swatch-color" data-color=<%= @colour_schemes[1].highlight %>></div>
						<div class="swatch-color" data-color=<%= @colour_schemes[1].background %>></div>
					</div>

					<div class="swatch" data-color-scheme-id=<%= @colour_schemes[2].id %>>
						<div class="swatch-color" data-color=<%= @colour_schemes[2].font %>></div>
						<div class="swatch-color" data-color=<%= @colour_schemes[2].highlight %>></div>
						<div class="swatch-color" data-color=<%= @colour_schemes[2].background %>></div>
					</div>	

				</div>

				<div class="form-element" id="layout-thumbs-wrapper">

					<div id="hidden-layout-field">
						<%= f.hidden_field :layout_scheme_id, value: 1 %>
					</div>
				
					<div class="layout-scheme" data-layout-scheme-id="1">1</div>
					<div class="layout-scheme" data-layout-scheme-id="2">2</div>
					<div class="layout-scheme" data-layout-scheme-id="3">3</div>
					
				</div>	

				<div class="form-element" id="generate-wrapper">
					<p>...</p>

				</div>

				<% end %>
			</li>

			<li class="arrow-wrapper">
				<div class="arrow" id="arrow-right"></div>
				<div class="arrow-background"></div>
			</li>

		</ul>
	</div>
</div>

