<div id="test"></div>
<div id="container">
	<div id="arrow_left"><%= image_tag("left.png") %></div>

	<%= form_for @wallpaper do |f| %>
		<div id="quote_field">
			<%= f.text_area :quote, placeholder: "Enter a quote" %>
		</div>

		<div id="colour_field">	

			<div id="swatch_wrapper"> 
				<%= f.radio_button :colour_scheme_id, @colour_schemes[0].id %>
				<label for="wallpaper_colour_scheme_id_7" id="first"></label>
				
				<%= f.radio_button :colour_scheme_id, @colour_schemes[1].id %>
				<label for="wallpaper_colour_scheme_id_8" id="second"></label>
				
				<%= f.radio_button :colour_scheme_id, @colour_schemes[2].id %>
				<label for="wallpaper_colour_scheme_id_9" id="third"></label>
			</div>
		</div>

		<div id="layout_field">
			<div id="layout_radios">
				
				
				<%= f.radio_button :layout_scheme, "1" %>
				<label for="wallpaper_layout_scheme_1">top</label>
				
				<%= f.radio_button :layout_scheme, "2" %>
				<label for="wallpaper_layout_scheme_2">middle</label>
				
				<%= f.radio_button :layout_scheme, "3" %>
				<label for="wallpaper_layout_scheme_3">bottom</label>

			</div>
			

		</div>
		
		<div id="submit_field">
			<%= f.submit "Preview", id: "preview" %>
		</div>	
	<% end %>
	
	<div id="arrow_right"><%= image_tag("right.png") %></div>
</div>