<div id="test"></div>
<div id="container">
	<div id="arrow_left"><%= image_tag("left.png") %></div>

	<%= form_for @wallpaper do |f| %>
		<div id="quote_field">
			<%= f.text_area :quote, placeholder: "Enter a quote" %>
		</div>

		<div id="colour_field">	

			<div id="swatch_wrapper"> 
				<%= f.radio_button :colour_scheme_id, @colour_schemes[0].id %>
				<label for="wallpaper_colour_scheme_id_<%= @colour_schemes[0].id %>" id="first"></label>
				
				<%= f.radio_button :colour_scheme_id, @colour_schemes[1].id %>
				<label for="wallpaper_colour_scheme_id_<%= @colour_schemes[1].id %>" id="second"></label>
				
				<%= f.radio_button :colour_scheme_id, @colour_schemes[2].id %>
				<label for="wallpaper_colour_scheme_id_<%= @colour_schemes[2].id %>" id="third"></label>
			</div>
		</div>

		<div id="layout_field">
			<div id="layout_radios">
				
				<%= f.radio_button :layout_scheme_id, @layout_schemes[0].id %>
				<label for="wallpaper_layout_scheme_id_<%= @layout_schemes[0].id %>"></label>
				
				<%= f.radio_button :layout_scheme_id, @layout_schemes[1].id %>
				<label for="wallpaper_layout_scheme_id_<%= @layout_schemes[1].id %>"></label>
				
				<%= f.radio_button :layout_scheme_id, @layout_schemes[2].id %>
				<label for="wallpaper_layout_scheme_id_<%= @layout_schemes[2].id %>"></label>

			</div>
			

		</div>
		
		<div id="submit_field">
			<%= f.submit "Preview", id: "Create" %>
		</div>	
	<% end %>
	
	<div id="arrow_right"><%= image_tag("right.png") %></div>
</div>